{% extends "header.html" %}

{% block body %}

<div class="hp">
  Welcome to Marauders Cricket Club.<br>
  Join to Become a Member of the uprising stars in scotland, our training session take place on every wednesdays in East-Killbride.<br>
  Friends XI & Marauders has shaken hands in order to provide more opportunities to young guns.
  <div class="embed-responsive embed-responsive-16by9">
    <video autoplay="autoplay" muted="muted" class="embed-responsive-item" src="../static/video/play.mp4"></video>
  </div>
</div>

{% endblock %}
