<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marauders Cricket Club - Sports</title>
  <meta name="description" content="A Simple Cricket Website Designed By ROCK">
	<meta name="author" content="ROCK">
  <link rel="icon" type="image/png" href="static/icon.ico" sizes="16x16">

</head>

  <header>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">]
        <img style="max-width: 220px; margin-top: -7px;" src="static/icon.ico" class="logo" alt="Sports">
      </a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <a href="/"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Home
        </button></a>

        <a href="/livescore"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Live Score
        </button></a>

        <a href="/tournaments"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Tournaments
        </button></a>

        <a href="/teams"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Teams
        </button></a>

        <a href="/shop"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Buy Equipments
        </button></a>

        <a href="/profile"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Players profiles
        </button></a>



</div>
</nav>









</header>

<body style="background-color:black;">
    <br><br><br>

    <div class="hp">
      <div class="row">
        <div class="col">
           Raheel Sajjid (Batsmen)
           <img src="static/ra.jpg" class="rounded mx-auto d-block" alt="Raheel" style="width:20%" style="height:20%"><br><br>
        </div>
      </div>
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Matches</th>
            <th scope="col">Innings</th>
            <th scope="col">Runs</th>
            <th scope="col">Highest Score</th>
            <th scope="col">Average</th>
            <th scope="col">Strike Rate</th>
            <th scope="col">100</th>
            <th scope="col">50</th>
            <th scope="col">4s</th>
            <th scope="col">6s</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">T20</th>
            <td>49</td>
            <td>49</td>
            <td>985</td>
            <td>72</td>
            <td>21.88</td>
            <td>104.67</td>
            <td>2</td>
            <td>3</td>
            <td>98</td>
            <td>16</td>
          </tr>
          <tr>
            <th scope="row">ODI</th>
            <td>53</td>
            <td>53</td>
            <td>1845</td>
            <td>102</td>
            <td>36.90</td>
            <td>74.45</td>
            <td>3</td>
            <td>12</td>
            <td>168</td>
            <td>14</td>
          </tr>
          <tr>
            <th scope="row">Test</th>
            <td>75</td>
            <td>143</td>
            <td>5731</td>
            <td>302*</td>
            <td>42.45</td>
            <td>41.43</td>
            <td>15</td>
            <td>31</td>
            <td>532</td>
            <td>16</td>
      </tr>
    </tbody>
  </table>
    </div>




  <link rel="stylesheet" href="../static/css/all.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script type="text/javascript" src="../static/css/bootstrap.min.css"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>






      <br><br>
      <footer class="page-footer" >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="danger">Thats All Folks</h5>

                <p class="danger">Contact: mcc@live.com.</p>
                <ul>
                  <li><a class="danger" href="https://www.facebook.com/Friends-XI-Cricket-Club-100120374730685/">Facebook</a></li>
                  <li><a class="danger" href="https://twitter.com/sentdex">Twitter</a></li>
                  <li><a class="danger" href="https://instagram.com/sentdex">Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Marauders Cricket Club 2019-2020
            </div>

          </div>
        </footer>
</html>
