<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marauders Cricket Club - Sports</title>
  <meta name="description" content="A Simple Cricket Website Designed By ROCK">
	<meta name="author" content="ROCK">
  <link rel="icon" type="image/png" href="static/icon.ico" sizes="16x16">

</head>

  <header>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">]
        <img style="max-width: 220px; margin-top: -7px;" src="static/icon.ico" class="logo" alt="Sports">
      </a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <a href="/"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Home
        </button></a>

        <a href="/livescore"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Live Score
        </button></a>

        <a href="/tournaments"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Tournaments
        </button></a>

        <a href="/teams"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Teams
        </button></a>

        <a href="/Stats"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Stats
        </button></a>

        <a href="/profile"<button type="button" class="btn btn-outline-danger" aria-label="Left Align" style="margin-top: 5px;
        margin-bottom: 5px; height: 44px; margin-right: 15px">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Players profiles
        </button></a>




</div>
</nav>









</header>

<body style="background-color:black;">
    <br><br><br>

    <div class="hp">
      Buy Some Cricket Stuff :).

      <div class="px-4 px-lg-0">

  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-black rounded shadow-sm mb-5">

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-black">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-black">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-black">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-black">
                    <div class="py-2 text-uppercase">Remove</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="static/ca.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">CA 15000 Plus</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: Bats</span>
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle"><strong>$200.00</strong></td>
                  <td class="border-0 align-middle"><strong>1</strong></td>
                  <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="p-2">
                      <img src="static/ball.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">CA New Attack</a></h5><span class="text-muted font-weight-normal font-italic">Category: Balls</span>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle"><strong>$50.00</strong></td>
                  <td class="align-middle"><strong>1</strong></td>
                  <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="p-2">
                      <img src="static/bb.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">CA big Bang</a></h5><span class="text-muted font-weight-normal font-italic">Category: Shoes</span>
                      </div>
                    </div>
                    <td class="align-middle"><strong>$120.00</strong></td>
                    <td class="align-middle"><strong>1</strong></td>
                    <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="row py-5 p-4 bg-black rounded shadow-sm">
        <div class="col-lg-6">
          <div class="bg-black rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
          <div class="p-4">
            <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
            <div class="input-group mb-4 border rounded-pill p-2">
              <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
              </div>
            </div>
          </div>
          <div class="bg-black rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
          <div class="p-4">
            <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-black rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
          <div class="p-4">
            <p class="font-italic mb-4">Shipping and additional costs.</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>$370.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$30.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                <h5 class="font-weight-bold">$410.00</h5>
              </li>
            </ul><a href="/login" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

    </div>




  <link rel="stylesheet" href="../static/css/all.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script type="text/javascript" src="../static/css/bootstrap.min.css"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>






      <br><br>
      <footer class="page-footer" >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="danger">Thats All Folks</h5>

                <p class="danger">Contact: mcc@live.com.</p>
                <ul>
                  <li><a class="danger" href="https://www.facebook.com/Friends-XI-Cricket-Club-100120374730685/">Facebook</a></li>
                  <li><a class="danger" href="https://twitter.com/sentdex">Twitter</a></li>
                  <li><a class="danger" href="https://instagram.com/sentdex">Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Marauders Cricket Club 2019-2020
            </div>

          </div>
        </footer>
</html>
